/* Estilo geral do modal */
.modal {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    position: relative;
    outline: none;
    /* Ajuste o tamanho máximo para telas menores */
    width: 90%;
}

/* Estilo do overlay do modal */
.overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo do título do modal */
.modal h2 {
    margin-top: 0;
    color: #333;
    font-size: 1.5em;
    text-align: center;
}

/* Estilo do formulário dentro do modal */
.modal form {
    display: flex;
    flex-direction: column;
}

/* Estilo dos labels do formulário */
.modal label {
    margin-bottom: 15px;
    color: #555;
}

/* Estilo dos inputs do formulário */
.modal input[type="text"],
.modal input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilo do checkbox */
.modal input[type="checkbox"] {
    margin-right: 10px;
}

/* Estilo do botão de enviar */
.modal button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    /* Ajuste o tamanho dos botões em telas menores */
    box-sizing: border-box;
}

/* Estilo do botão de cancelar */
.modal button[type="button"] {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    /* Ajuste o tamanho dos botões em telas menores */
    box-sizing: border-box;
}

/* Estilo para botão em hover */
.modal button:hover {
    opacity: 0.9;
}

/* Media query para telas menores */
@media (max-width: 600px) {
    .modal {
        padding: 15px;
        width: 95%;
    }

    .modal h2 {
        font-size: 1.2em;
    }

    .modal input[type="text"],
    .modal input[type="number"] {
        font-size: 0.9em;
    }

    .modal button[type="submit"],
    .modal button[type="button"] {
        font-size: 0.9em;
        padding: 8px;
    }
}